:root {
    --primary-accent: #0000FF;
    --secondary-red: #FF3D00;
    --secondary-purple: #CF008B;

    background: linear-gradient(to bottom right, var(--secondary-red), var(--secondary-purple));
    height: 100vh;
}


.container {
    margin: auto;
    font-family: Arial, sans-serif;
}

.navbar {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    max-width: 1500px;
    width: 80%;
    margin: auto;
    padding: 2em;
}

.upload-container {
    border-style: solid;
    border-width: .1em;
    border-radius: .5em;
}

.upload-box {
    width: 100%;
    height: 8em;
    line-height: 8em;

    text-align: center;
}

.upload-box:hover {
    border-color: var(--primary-accent);
    background-color: #f0f0f0;
    cursor: pointer;
}

#process-button {
    background-color: var(--primary-accent);
    color: white;
    border: none;
    padding: 1em;
    border-radius: .4em;
    cursor: pointer;
}

.output-container {
    margin-top: 2em;
}