:root {
    --background-color: #212121;
    --primary-accent: #0000FF;
    --secondary-red: #FF3D00;
    --secondary-purple: #CF008B;

    background: var(--background-color);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    margin: auto;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.navbar {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header {
    color: white;
    font-size: 2em;
}

.main-content {
    max-width: 1100px;
    width: 60%;
    margin: auto;
    padding: 2em;
}

.upload-section {
    margin-top: 25vh;
    text-align: center;
}

.upload-header {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.upload-area {
    width: 100%;
    border-radius: 28px;
    background: linear-gradient(to bottom right, var(--secondary-red), var(--secondary-purple));
    text-align: left;
    display: flex;
    z-index: 0;
}

#upload-data {
    flex-grow: 3;
}

.upload-box {
    padding: .5em;
}

.upload-box:hover {
    cursor: text;
}

.upload-instructions {
    color: lightgray;
    margin: .5em;
}

#process-button {
    align-self: flex-end;
    background-color: var(--primary-accent);
    color: white;
    border: none;
    padding: .8em;
    border-radius: 28px;
    cursor: pointer;
    z-index: 100;
    margin: .5em;
}

.output-container {
    margin: 2em;
    color: white;
}